* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(209, 170, 112);
}

.main-header {
	text-align: center;
	font-size: large;
	color: brown;
	background-color: #edd481;
	padding-left: 140px;
	padding-right: 140px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 20px;
}
.container {
	display: flex;
	gap: 20px;
	padding: 5rem;
	justify-content: center;
	align-items: center;
	font-size: 17px;
}

.left {
	background-color: #edd481;
	padding: 2rem;
	width: 100%;
	height: 100vh;
}
.right {
	background-color: #edd481;
	padding: 2rem;
	width: 100%;
	height: 100vh;
}
.jk {
	padding-bottom: 12px;
	font-size: large;
}

input[type="number"] {
	width: 60%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

button {
	background-color: #04b138;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 8px;
	cursor: pointer;
	border-radius: 12px;
}
.reset {
	background-color: red;
}
button:hover {
	transform: scale(1.1);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.hasil {
	text-align: center;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	height: 50%;
	border: solid;
	background-color: antiquewhite;
}

th,
td {
	border: solid;
	text-align: center;
}

th {
	background-color: azure;
	font-weight: 1000;
}

#result {
	font-size: 5em;
	background-color: aqua;
	width: 29rem;
	height: 10rem;
	font-family: sans-serif;
	font-size: 100px;
	text-align: center;
	justify-content: center;
	border-radius: 13px;
}

footer p {
	color: blue;
	padding-bottom: 3px;
	text-align: center;
}
